[package]
name = "bocchi"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio-tungstenite = { version = "0.23.1", features = [] }
tokio = { version = "1.39.2", features = [
    "net",
    "sync",
    "macros",
    "rt-multi-thread",
    "time",
    "signal",
] }
anyhow = "1.0.86"
serde_json = "1.0.122"
futures-util = { version = "0.3.30", features = ["sink"] }
http = "1.1.0"
enum_dispatch = "0.3.13"
async-trait = "0.1.81"
dashmap = "6.0.1"
rand = "0.8.5"
thiserror = "1.0.63"
derive_more = { version = "1.0.0", features = ["display"] }
serde = { version = "1.0.205", features = ["derive"] }
enum-as-inner = "0.6.0"
tracing = "0.1"
tracing-subscriber = "0.3"
